<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto container">
      <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Page 1</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/page2" routerLinkActive="active">Page 2</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/page3" routerLinkActive="active">Page 3</a></li>
    </ul>
  </div>
</nav>