html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
  &--main {
    padding: 60px 8px 0;
  } // .container--main
  &--footer {
    padding: 0 8px;
  } // .container----footer
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}