<div class="row">
    <div class="col-sm-4">
        <input type="text" class="form-control" (keyup.enter)="addItem()" [(ngModel)]="itemName">
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary" (click)="addItem()" (keyup.enter)="addItem()">Add</button>
    </div>
</div>
<br>