<header>
    <app-header></app-header>
</header>
<main role="main" class="container container--main">
    <br>
    <router-outlet></router-outlet>
</main>
<footer class="footer">
    <app-footer></app-footer>
</footer>